<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.localcommunity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LocalCommunity">
        <activity
            android:name=".Join"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Search"
            android:exported="true" />
        <activity
            android:name=".Update"
            android:exported="true" />
        <activity
            android:name=".Detail"
            android:exported="true" />
        <activity
            android:name=".Write"
            android:exported="true" />
        <activity
            android:name=".Report"
            android:exported="true" />
        <activity
            android:name=".gps"
            android:exported="true" />
        <activity
            android:name=".my_page"
            android:exported="true" />
        <activity
            android:name=".popular"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"></activity>
    </application>

</manifest>